
<blockquote class="layui-elem-quote">热钱包交易记录</blockquote>

<fieldset class="table-search-fieldset">
	<legend>搜索信息</legend>
	<div style="margin: 10px 10px 10px 10px">
		<form action="" class="layui-form layui-form-pane">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">起始时间</label>
					<div class="layui-input-inline">
						<input autocomplete="off" class="layui-input" name="fromTime" id="fromTime" type="text"/>
					</div>
					<label class="layui-form-label">到达时间</label>
					<div class="layui-input-inline">
						<input autocomplete="off" class="layui-input" name="toTime" id="toTime" type="text"/>
					</div>
				</div>
				
				
				<div class="layui-inline">
					<label class="layui-form-label">来源地址</label>
					<div class="layui-input-inline"><input autocomplete="off" class="layui-input" name="fromAddr" type="text"/></div>

					<label class="layui-form-label">目的地址</label>
					<div class="layui-input-inline"><input autocomplete="off" class="layui-input" name="toAddr" type="text"/></div>
				</div>
				
				<div class="layui-inline">
					<label class="layui-form-label">指派状态</label>
					<div class="layui-input-inline" style="width:80px">
						<select name="scheduleStatus">
							<option value="" selected>全部</option>
							<option value="0">待执行</option>
							<option value="1">成功 √</option>
							<option value="2">失败 ×</option>
							<option value="3">执行中</option>
						</select>
					</div>
					<label class="layui-form-label">链上状态</label>
					<div class="layui-input-inline" style="width:90px">
						<select name="chainStatus">
							<option value="" selected>全部</option>
						</select>
					</div>
				</div>
				
				<div class="layui-inline">
					<button class="layui-btn layui-btn-primary" lay-filter="data-search-btn" lay-submit="" type="submit">
						<i class="layui-icon">&#xe615;</i>搜索
					</button>
					<button class="layui-btn layui-btn-primary" lay-filter="data-reset" lay-submit="" type="submit">
						<i class="layui-icon">&#xe666;</i>重置
					</button>
				</div>
			</div>
		</form>
	</div>
</fieldset>

<table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>


<script type="text/html" id="toolbar0">
	<div class="layui-btn-container">
		<a class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add" operate="add"><i class="layui-icon layui-icon-add-circle-fine"></i> 添加 </a>
	</div>
</script>

<script type="text/javascript">
function render_status(d){
	var obj={
		'0':'<font color="blue">待执行</font>',
		'1':'<font color="green">成功</font>',
		'2':'<font color="red">失败</font>',
		'3':'<font color="#990000">执行中</font>',
	}
	return obj[d['schedule_status']]||'未知'
}
function render_type(d){
	var obj={
		'1':'<font color="green">代发</font>',
		'2':'<font color="blue">排程结账</font>',
		'3':'<font color="#990000">手动结账</font>',
	}
	return obj[d['type']]||'未知'
}


layui.use(['form'],function(){
	laydate.render({ 
		elem:'#fromTime',type:'datetime',
		format:'yyyy-MM-dd HH:mm:ss'
	});
	laydate.render({ 
		elem:'#toTime',type:'datetime',
		format:'yyyy-MM-dd HH:mm:ss'
	});
	
	var cols=[[
		//{type: "checkbox", width: 50},
		//{title: '操作', width: 160, toolbar: '#tablebar', align: "center",fixed:'left'},
		{field: 'id', width: 80, title: 'ID', sort: true},
		{field:'system_code',width:120,title:'系统编号'},
		{field:'from',width:320,title:'打币地址'},
		{field:'to',width:320,title:'充币地址'},
		{field:'type',width:120,title:'类型',templet:render_type},
		{field:'gas_fee',width:120,title:'gas费'},
		{field:'balance',width:120,title:'余额'},
		{field:'schedule_status',width:120,title:'排程状态',templet:render_status},
		{field:'txid',width:120,title:'交易hash'},
		{field:'chain_status',width:120,title:'链上状态'},
		{field:'create_time',width:120,title:'创建时间',templet:function(d){return render_timestamp(d['update_time'])} }

		
	]];

	window.dataTable=table.render({
		elem: '#currentTableId',
		url:'/hotTransfer',
		toolbar:false,
		defaultToolbar: ['filter','exports','print'],
		cols:cols,
		request:{
			'pageName':'page',
			'limitName':'pageSize'
		},
		parseData:function(res){
			return {
			"code": (res.code==1)?0:(res.code*-1), //解析接口状态
			"msg": res.msg, //解析提示文本
			"count": res.data.total, //解析数据长度
			"data": res.data.data //解析数据列表
			};
		},
		limits: [10,20,50,100],
		limit: 20,
		page: true,
		done:function(res){
			
		}
	});

	//搜索
	form.on('submit(data-search-btn)',function(data){
		table.reload('currentTableId',{page: {curr: 1}, where:data.field});
		return false;
	});
	//reset
	form.on('submit(data-reset)',function(data){
		table.reload('currentTableId',{page:{curr:1},where:''});
		document.forms[0].reset();
		form.render();
		return false;
	});
	
	//表格行toolbar按钮事件
	table.on('tool(currentTableFilter)',function (obj){
		var data = obj.data;

		if(obj.event === 'detail'){
			open_dlg('详情: '+data.user_name,'/main#0|admin-user-detail?id='+data.id)
		}else if(obj.event === 'edit'){
			open_dlg('编辑: '+data.user_name,'/main#0|admin-user-edit?id='+data.id)
		}else if(obj.event === 'del'){
			confirmdel('/addrDel/'+data.id,null);
		}
	});
	//工具栏事件
	table.on('toolbar(currentTableFilter)',function(obj){
		if (obj.event === 'add'){
			open_dlg('添加用户: ','/main#0|admin-user-add');
		}
	});

	form.render();
});
</script>