
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
	<legend>添加角色</legend>
</fieldset>
<form class="layui-form layui-form-pane h5form" action="/role">
	<input type="hidden" name="id" value="0" />
	<div class="layui-form-item">
		<label class="layui-form-label">角色名称</label>
		<div class="layui-input-inline">
			<input type="text" name="name" lay-verify="required" placeholder="角色名称" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">角色名称，中文</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">角色权限</label>
		<div class="layui-input-block" id="rolestree"></div>
	</div>

	<!--<div class="layui-form-item">
		<label class="layui-form-label">G2fa</label>
		<div class="layui-input-inline">
			<input type="text" name="g2fa" maxlength="6" lay-verify="required" placeholder="Google验证码" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">请输入6位数字Google验证码</div>
	</div>-->

	<div class="layui-form-item formbtn">
		<button type="submit" class="layui-btn" lay-submit="" lay-filter="add">提交</button>
	</div>
</form>

<script type="text/tmpl" id="tpl_list">
<table class="layui-table" lay-filter="rolelist">
	<thead>
		<tr>
			<th width="160" align="center"><input type="checkbox" title="全选/取消" lay-skin="primary" lay-filter="level0" /></th>
			<th width="160" align="center">子菜单</th>
			<th width="*" align="center">操作</th>
		</tr>
	</thead>
{{#  layui.each(d.data, function(i,v){ }}
{{# var sonlen = 1+v.children.length;}}
	<tr>
		<td rowspan="{{sonlen}}">
			<input type="checkbox" title="{{v.name}}" name="auth" value="{{v.id}}" lay-skin="primary" tid="0" pid="0" col="0" lay-filter="level1" />
		</td>
	</tr>
	{{#  layui.each(v.children, function(ii,vv){ }}
	<tr>
		<td><input type="checkbox" title="{{vv.name}}" name="auth" value="{{vv.id}}" lay-skin="primary" tid="{{v.id}}" pid="{{v.id}}" col="1" lay-filter="level2" /></td>
		<td>
			{{#  layui.each(vv.children, function(iii,vvv){  }}
			<input type="checkbox" title="{{vvv.name}}" name="auth" value="{{vvv.id}}" tid="{{v.id}}" pid="{{vv.id}}" col="2" lay-filter="level3" />
			{{#  }); }}
		</td>
	</tr>
	{{#  }); }}
	
{{#  }); }}
</table>
</script>

<script type="text/javascript">
layui.use(['laytpl'],function(){
	var laytpl = layui.laytpl;
	var tpl=document.getElementById('tpl_list').innerHTML;
	var hashparams=parseHash();
	$.get('/auth/tree',function(res){
		if(res.code!=1){return}
		laytpl(tpl).render(res,function(html){
			$('#rolestree').html(html);
			form.render('checkbox')
		});
		
		$.get('/role/'+hashparams['id'],function(res1){
			if(res1.code!=1){return}
			var v=res1.data;
			$('input[name=name]').val(v.name);
			$('input[name=id]').val(v.id);
			var str=v['auth'].join('],input[name=auth][value=');
			if(str){
				$('input[name=auth][value='+str+']').prop('checked',true);
				form.render('checkbox')
			}
		});
	});

	form.on('checkbox(level0)',function(data){
		$('input[type=checkbox]').prop('checked',data.elem.checked);
		form.render('checkbox');
	});
	form.on('checkbox(level1)',function(data){
		$('input[type=checkbox][tid='+data.value+']').prop('checked',data.elem.checked);
		form.render('checkbox');
	});
	form.on('checkbox(level2)',function(data){
		$('input[type=checkbox][pid='+data.value+']').prop('checked',data.elem.checked);

		var zs=$(data.elem);
		var pid=zs.attr('pid');
		var chk=data.elem.checked;
		if(chk){
			$('input[type=checkbox][value='+pid+']').prop('checked',true);
		}else{
			var alen=$('input[tid='+pid+']:checked').length;
			if(alen<1){
				$('input[type=checkbox][value='+pid+']').prop('checked',false);
			}
		}
		
		form.render('checkbox');
	});
	form.on('checkbox(level3)',function(data){
		var zs=$(data.elem);
		var pid=zs.attr('pid');
		var tid=zs.attr('tid');
		var chk=data.elem.checked;
		if(chk){
			$('input[type=checkbox][value='+pid+'],input[type=checkbox][value='+tid+']').prop('checked',true);
		}else{
			var alen=$('input[col=2][pid='+pid+']:checked').length;
			if(alen<1){
				$('input[type=checkbox][value='+pid+']').prop('checked',false);
			}
			var blen=$('input[tid='+tid+']:checked').length;
			if(blen<1){
				$('input[type=checkbox][value='+tid+']').prop('checked',false);
			}
		}
		form.render('checkbox');
	});

	form.on('submit(add)',function(data){
		h5post(data.form,'/role/'+hashparams['id'],'PUT');
		return false;
	})
})
</script>