<style type="text/css">
.layui-form-pane .layui-form-label{width:130px}
.layui-form-pane .layui-input-block{margin-left:130px;}
</style>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
	<legend>添加组织</legend>
</fieldset>
<form class="layui-form layui-form-pane h5form" lay-filter="h5form" action="/adminUser">

	<div class="layui-form-item">
		<label class="layui-form-label">组织名称</label>
		<div class="layui-input-inline" style="width:280px;">
			<input type="text" name="real_name" value="" lay-verify="required" placeholder="组织名称" class="layui-input" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">主账号</label>
		<div class="layui-input-inline">
			<input type="text" name="user_name" value="" placeholder="用户名" class="layui-input" disabled/>
		</div>
		<div class="layui-form-mid layui-word-aux">不可修改</div>
	</div>
	


	<div class="layui-form-item">
		<label class="layui-form-label">IP白名单</label>
		<div class="layui-input-block">
			<input type="text" name="whitelist_ip" value="" lay-verify="ipv4" placeholder="IP白名单,多个地址之间用逗号隔开" class="layui-input" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">商户地址</label>
		<div class="layui-input-block">
			<input type="text" name="address" value="" lay-verify="required" placeholder="商户地址" class="layui-input" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">余额</label>
		<div class="layui-input-inline">
			<input type="number" name="balance" value="" lay-verify="required" placeholder="余额" class="layui-input" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">回传URL</label>
		<div class="layui-input-block">
			<input type="text" name="return_url" value="" lay-verify="required|url" placeholder="回传URL" class="layui-input" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">代发URL</label>
		<div class="layui-input-block">
			<input type="text" name="dai_url" value="" lay-verify="required|url" placeholder="代发URL" class="layui-input" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">备注</label>
		<div class="layui-input-block">
			<input type="text" name="remark" value="" lay-verify="required" placeholder="备注" class="layui-input" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">开启收款功能</label>
		<div class="layui-input-inline">
			<input type="radio" name="is_collection" title="开启" value="1" checked />
			<input type="radio" name="is_collection" title="禁用" value="0" />
		</div>

		<label class="layui-form-label">开启手动建单</label>
		<div class="layui-input-inline">
			<input type="radio" name="is_creation" title="开启" value="1" checked />
			<input type="radio" name="is_creation" title="禁用" value="0" />
		</div>
	</div>



	<div class="layui-form-item">
		<label class="layui-form-label">地址多单收款</label>
		<div class="layui-input-inline">
			<input type="radio" name="more" title="开启" value="1" checked />
			<input type="radio" name="more" title="禁用" value="0" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">订单手续费类型</label>
		<div class="layui-input-inline"  style="width:auto;">
			<input type="radio" name="order_type" title="百分比" value="1" />
			<input type="radio" name="order_type" title="固定金额" value="0" checked/>
		</div>
		<label class="layui-form-label">订单手续费</label>
		<div class="layui-input-inline">
			<input type="number" min="0" name="order_charge" value="" lay-verify="required" placeholder="订单手续费" class="layui-input" />
		</div>
	</div>


	<div class="layui-form-item">
		<label class="layui-form-label">退款手续费类型</label>
		<div class="layui-input-inline"  style="width:auto;">
			<input type="radio" name="return_type" title="百分比" value="1"  />
			<input type="radio" name="return_type" title="固定金额" value="0" checked />
		</div>
		<label class="layui-form-label">退款手续费</label>
		<div class="layui-input-inline">
			<input type="number" min="0" name="return_charge" value="" lay-verify="required" placeholder="退款手续费" class="layui-input" />
		</div>
	</div>



	<div class="layui-form-item">
		<label class="layui-form-label">启用代发功能</label>
		<div class="layui-input-inline">
			<input type="radio" name="is_dai" title="开启" value="1" checked />
			<input type="radio" name="is_dai" title="禁用" value="0" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">代发手续费类型</label>
		<div class="layui-input-inline" style="width:auto;">
			<input type="radio" name="dai_type" title="百分比" value="1" />
			<input type="radio" name="dai_type" title="固定金额" value="0" checked />
		</div>
		<label class="layui-form-label">代发手续费</label>
		<div class="layui-input-inline">
			<input type="number" min="0" name="dai_charge" value="" lay-verify="required" placeholder="代发手续费" class="layui-input" />
		</div>
	</div>



	<div class="layui-form-item">
		<label class="layui-form-label">提领手续费类型</label>
		<div class="layui-input-inline" style="width:auto;">
			<input type="radio" name="pick_type" title="百分比" value="1" />
			<input type="radio" name="pick_type" title="固定金额" value="0" checked />
		</div>
		<label class="layui-form-label">提领手续费</label>
		<div class="layui-input-inline">
			<input type="number" min="0" name="pick_charge" value="" lay-verify="required" placeholder="提领手续费" class="layui-input" />
		</div>
	</div>



	<div class="layui-form-item">
		<label class="layui-form-label">启用gas预估</label>
		<div class="layui-input-inline">
			<input type="radio" name="is_gas" title="开启" value="1" checked />
			<input type="radio" name="is_gas" title="禁用" value="0" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">代发审核</label>
		<div class="layui-input-inline">
			<input type="radio" name="examine" title="开启" value="1" checked />
			<input type="radio" name="examine" title="禁用" value="0" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">每日交易总量</label>
		<div class="layui-input-inline">
			<input type="text" name="day_total_count" value="0" lay-verify="required" placeholder="每日交易总量" class="layui-input" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">最大交易总量</label>
		<div class="layui-input-inline">
			<input type="text" name="max_order_count" value="" lay-verify="required" placeholder="最大交易总量" class="layui-input" />
		</div>
		<label class="layui-form-label">最小交易总量</label>
		<div class="layui-input-inline">
			<input type="text" name="min_order_count" value="" lay-verify="required" placeholder="最小交易总量" class="layui-input" />
		</div>
	</div>


	<div class="layui-form-item">
		<label class="layui-form-label">结账限制</label>
		<div class="layui-input-inline">
			<input type="text" name="limit" value="" lay-verify="required" placeholder="结账限制" class="layui-input" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">订单无效时间</label>
		<div class="layui-input-inline">
			<input type="number" max="11" name="user_less_time" value="" lay-verify="required" placeholder="订单无效时间" class="layui-input" />
		</div>
		<div class="layui-form-mid layui-word-aux">最大值11</div>
	</div>


	<!--<div class="layui-form-item">
		<label class="layui-form-label">G2fa</label>
		<div class="layui-input-inline">
			<input type="text" name="g2fa" maxlength="6" lay-verify="required" placeholder="Google验证码" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">请输入6位数字Google验证码</div>
	</div>-->

	<div class="layui-form-item formbtn">
		<button type="submit" class="layui-btn" lay-submit="" lay-filter="add">提交</button>
	</div>
</form>




<script type="text/javascript">
layui.use(['tableSelect'],function(){
	
	form.verify({
		ipv4:chk_ipv4,
		url:chk_url
	});
	form.on('submit(add)',function(data){
		h5edit(data.form,'/adminUser/'+hashparams['id']);
		return false;
	});

	$.get('/system',function(res1){
		if(res1.code!=1){
			alerterr('数据不存在或服务器异常!',function(){close_dlg();});
			return
		}
		var v=res1.data;
		/*$('input[name=name]').val(v.name);
		$('input[name=id]').val(v.id);*/
		form.val("h5form",v);
		form.render()
	});
})
</script>