<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>后台管理系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript">
	window.csrf_token=sessionStorage.getItem('token');
	if(!csrf_token){
		window.stop();
		top.location.href='/login';
	}
	</script>
	<link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/layui.css" media="all">
	<link rel="stylesheet" href="/static/css/public.css" media="all">
	<link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
</head>
<body>
<div class="layuimini-container">
	<div class="layuimini-main" id="tpl_container">
		loading
	</div>
</div>

<script type="text/html" id="toolbar">
	<div class="layui-btn-container">
		<a class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add" operate="add"> 添加 </a>
	</div>
</script>
<script type="text/html" id="tablebar">
	<a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit" operate="edit">编辑</a>
	<a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="del" operate="del">删除</a>
</script>
<script type="text/html" id="tablebar1">
	<a class="layui-btn layui-btn-xs layui-btn-primary data-count-view" lay-event="detail" operate="detail">查看</a>
	<a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit" operate="edit">编辑</a>
	<a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="del" operate="del">删除</a>
</script>


<script src="/static/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/static/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<script type="text/javascript" src="/static/common.js"></script>
<script>
var hash=(location.hash).replace('#','');
var _tmp_arr=hash.split('|');
var _urlid=_tmp_arr[0]
var _urlpath=_tmp_arr[1].split('?')[0]
var _tpl_path='/static/views/'+_urlpath+'.html';
var _loading_index=0;
var hashparams=parseHash();


$.ajaxSetup({
	'headers':{'Authorization':sessionStorage.getItem('token')}
});
layui.use(['layer','form','table','laydate'],function(){
	window.layer = layui.layer;
	window.form = layui.form;
	window.table = layui.table;
	window.laydate = layui.laydate;
	
	_loading_index=layer.load(0,{shade:[0.2,'#000']});
	$.ajax({
		url:_tpl_path,
		cache:false,
		type:'GET',
		dataType:'html',
		success:function(res){
			$('#tpl_container').html(res);
		},
		error:function(){
			$('#tpl_container').html('<h2>404 Page Not Found</h2>');
		},
		complete:function(){
			layer.close(_loading_index);
		}
	})
})

</script>
</body>
</html>
